@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Shop</h1>
  <!--  <p><a href="/Home/Registration">Click here to register</a></p> -->
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">Click here to register</a>
</div>
