@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Shop</h1>
  
    <img src="/lib/images/coffeeshop.png" alt="Coffee" style="width:600px; height:300px";/> <br /><br />

    <!--h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">Click Here to Register</a></!--h3-->
    <a href="Home/Registration">Click Here to Register</a>
</div>

@{
	foreach (var currProduct in Program.productList)
	{

	<a href="Home/Products?id=@currProduct.Id">@(currProduct.Name + " " + currProduct.Description)</a> 

		<br/>
	}
}
