
@{
    ViewData["Title"] = "Summary";
}

<div>
    <p><h1> Registration was Successful </h1><br /><br />
   
        <h3>Verify Your Data Below: </h3><br />
        <b>Name:</b> @ViewData["firstName"] @ViewData["lastName"] <br /><br />
        <b>Email:</b> @ViewData["email"]<br /><br />
        <b>Password:</b> @ViewData["password"]

    </p>
</div>



